.about-wrapper{ 
    display: flex;
    justify-content: center;
    padding: 5% 0;
    @media screen and (max-width:1023px) {
        flex-direction: column;
    }
    .about-wrapper-image{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 50vw;
        }
        @media screen and (max-width:1023px) {
            padding: 10% 0;
        }
    }
    .about-wrapper-description{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5%;
        font-size: 1.2rem;
        @media screen and (max-width:1023px) {
            padding: 0% 8%;
        }
    }
}