.home-wrapper{
    padding: 2.5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //media aumentare il padding top
    @media screen and (max-width:700px) {
        height: 100vh;
        padding-top: 15vh;
    }

    .video-wrapper{ 
        height: 100%;
        width: 100vw ;
        display: flex;
        justify-content: center;
        @media screen and (max-width:1023px) {
            height: auto;
        }
        #video-hero-id{ 
            width: 90vw;
        }
    }
}